body{background-color: black; background-image: url('Images/Ril.jpeg'); background-repeat: no-repeat; background-size: cover;}
h1{color: aquamarine; font-size: 50px; font-style: italic;}
.fontColors{color: green;}
.imageSize{width: 50%;}
article{color: white;}
